[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-pspec = "*"
pytest-clarity = "*"
poetry = "*"

[scripts]
test = "pytest"
build = "poetry build"
