[tool.poetry]
name = "expycted"
version = "0.4.0"
description = "Because tests should be easy to read"
authors = ["Petereon <pvyboch1@gmail.com>"]
license = "MIT"
repository = 'https://github.com/petereon/expycted'
readme = 'PYPIREADME.md'
keywords = ['expect', 'expect-pattern', 'testing', 'test', 'matchers']
classifiers = [
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python :: 3',
    'Natural Language :: English',
    'Topic :: Software Development :: Testing',
    'Topic :: Software Development :: Libraries',
    'Typing :: Typed'
]
packages = [
    { include = "expycted", from = "src" },
]
[tool.poetry.dependencies]
python = "^3.6"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
python_files = ["*test*.py"]
python_functions = ["test"]
minversion = "6.0"
addopts = "--cov=expycted --cov-report=term-missing"
testpaths = ["test"]
